
* {
    font-family: "Do Hyeon", sans-serif;
}

h1,
h5 {
    display: inline;
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.review {
    text-align: center;
}

.reviews {
    margin-top: 100px;
}
